* {
	margin: 0;
	padding: 0;
	border: 0;
}

.bg {
	background: url("./images/bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
}

.title {
	background-color: #000;
	color: #FFF;
	float: left;
	font-size: 2.2em;
	width: 960px;
	padding: 10px;
	margin-top: 20px;
}

#logo {
	width: 60px;
	height: 60px;
}

#container {
	max-width: 960px;
	text-align: center;
	margin: auto;
	overflow: hidden;
}

.centered {
	margin: 0 auto;
}

.clearfix:after {
	content: " ";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.tile {
	margin: 0 5px 10px 5px;
	float: left;
	overflow: hidden;
	position: relative;
	transition: opacity 0.5s ease 0.1s;
	-moz-transition: opacity 0.5s ease 0.1s;
	-o-transition: opacity 0.5s ease 0.1s;
	-webkit-transition: opacity 0.5s ease 0.1s;
}

.tilehover {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
	display: none;
}

.tile:hover {
	border: 3px solid #AAAAAA;
	margin: -3px 0 0 0;
	box-shadow: 0 0 5px 0 #000;
	-moz-box-shadow: 0 0 5px 0 #000;
	-webkit-box-shadow: 0 0 5px 0 #000;
}

.large {
	width: 310px;
	height: 310px;
	text-align: center;
	color: #000000;
}

.medium {
	width: 310px;
	height: 150px;
	float: left;
	color: #000000;
}

.small {
	width: 150px;
	height: 150px;
	color: #000000;
}

.large img {
	width: auto;
	max-height: 120px;
}

.medium img {
	max-width: 100px;
	max-height: 100px;
	padding-left: 5px;
}

.small img {
	width: auto;
	max-height: 80px;
	margin-top: 15px;
} 


.medium .img {
	width: 100px;
	height: 150px;
	float: left;
	margin-top: 25px;
	margin-right: 8px;
	margin-left: 5px;
}

.large>.content {
	margin-top: 50px;;
}

.medium>.content {
	float: left;
	text-align: left;
}
.medium>.content>.content {
	margin-top: 25px;
}

.content>.t1 {
	font-size: 1.4em;
}

.content>.t2 {
	font-size: 1.2em;
	margin-top: 8px;
	line-height: 1.2em;
	width: 300px;
	word-wrap: break-all;
	color: #333333;
}

.blue {
	background-color: #19a2de;
}

.green {
	background-color: #319a31;
}

.teal {
	background-color: #00aaad;
}

.mango {
	background-color: #ef9608;
}

// 色彩: 狂野、充沛、动感 index/images/color.png
.cl-01{
	background-color: #990066
}
.cl-02{
	background-color: #FFFF00
}
.cl-03{
	background-color: #003399
}
.cl-04{
	background-color: #CC0033
}
.cl-05{
	background-color: #000000
}
.cl-06{
	background-color: #003399
}
.cl-07{
	background-color: #003399
}
.cl-08{
	background-color: #FFFF00
}
.cl-09{
	background-color: #F00000
}
.cl-10{
	background-color: #CC3333
}

.cl-11{
	background-color: #CCCCCC
}
.cl-12{
	background-color: #003366
}
.cl-13{
	background-color: #CC0033
}
.cl-14{
	background-color: #333333
}
.cl-15{
	background-color: #CCCC00
}
.cl-16{
	background-color: #000000
}
.cl-17{
	background-color: #99CC00
}
.cl-18{
	background-color: #CC0033
}
.cl-19{
	background-color: #FF0033
}
.cl-20{
	background-color: #333333
}

.cl-21{
	background-color: #FF9900
}
.cl-22{
	background-color: #990066
}
.cl-23{
	background-color: #000000
}
.cl-24{
	background-color: #009966
}
.cl-25{
	background-color: #666666
}
.cl-26{
	background-color: #FF6600
}
.cl-27{
	background-color: #333333
}
.cl-28{
	background-color: #993333
}
.cl-29{
	background-color: #CCCC00
}
.cl-30{
	background-color: #663366
}
