/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

/**
 * The following are default styles for the demo page,
 * you don't need to include these on your own site.
 */
[class^="hvr-"] {
	margin: .4em;
	padding: 1em;
	cursor: pointer !important;
	background: #e1e1e1;
	text-decoration: none !important;
	/* Prevent highlight colour when element is tapped */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* Smooth fonts */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table.bsReference td {
	padding: 3px;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #dadada;
	text-align: right;
	font-size: 10px;
}

table.bsReference .bsProperty {
	white-space: nowrap;
	text-align: left;
	font-size: 12px;
}

table.bsReference .bsIE {
	width: 80px;
	background-image: url("../images/compatible_ie2020.gif");
}

table.bsReference .bsFirefox {
	width: 80px;
	background-image: url("../images/compatible_firefox2020.gif")
}

table.bsReference .bsChrome {
	width: 80px;
	background-image: url("../images/compatible_chrome2020.gif");
}

table.bsReference .bsSafari {
	width: 80px;
	background-image: url("../images/compatible_safari2020.gif");
}

table.bsReference .bsOpera {
	width: 80px;
	background-image: url("../images/compatible_opera2020.gif")
}

table.bsReference .bsNoIE {
	width: 80px;
}

table.bsReference .bsNoFirefox {
	width: 80px;
}

table.bsReference .bsNoChrome {
	width: 80px;
}

table.bsReference .bsNoSafari {
	width: 80px;
}

table.bsReference .bsNoOpera {
	width: 80px;
}

table.bsReference .bsPreIE {
	width: 80px;
	background-image: url("../images/precompatible_ie5920.gif");
}

table.bsReference .bsPreFirefox {
	width: 80px;
	background-image: url("../images/precompatible_firefox5920.gif");
}

table.bsReference .bsPreChrome {
	width: 80px;
	background-image: url("../images/precompatible_chrome5920.gif");
}

table.bsReference .bsPreSafari {
	width: 80px;
	background-image: url("../images/precompatible_safari5920.gif");
}

table.bsReference .bsPreOpera {
	width: 80px;
	background-image: url("../images/precompatible_opera5920.gif");
}

table.bsReference .bsPreXVOpera {
	width: 80px;
	background-image: url("../images/precompatible_xv_opera5920.gif");
}

table.bsReference td.bsExp {
	width: 400px;
	text-align: left;
	font-size: 12px;
}

table.bsReference td.bsExp span {
	font-family: courier new;
	white-space: nowrap;
	font-size: 13px;
}

table.bsReference td.bsExpIcon {
	width: 50px;
}

.ruler {
	width: 100%;
	height: 174px;
	position: absolute;
	top: 0px;
}

.ruler>.row>div {
	border-top: 1px dashed black;
	height: 1px;
}

.box-container {
	font-size: 14px;
	color: white;
	line-height: 1;
}

.box-container>.row {
	background-color: yellow;
}

.box-conent {
	font-size: 14px;
	border: 20px solid green;
	padding: 10px;
	margin: 50px;
	background-color: red;
	outline-color: blue;
	outline-width: 30px;
	outline-style: solid;
	display: inline-block;
}

.box-conent div {
	background-color: black;
}

.box-height {
	height: 174px;
	padding: 0px;
	padding-top: 80px;
	background-color: red;
}

.box-height-outline {
	height: 134px;
	padding: 0px;
	background-color: blue;
	margin-top: 20px;
	padding-top: 60px;
}

.box-height-border {
	height: 74px;
	padding: 0px;
	background-color: green;
	padding-top: 30px;
	margin-top: 50px;
}

.box-height-padding {
	height: 34px;
	padding: 0px;
	background-color: red;
	padding-top: 10px;
	margin-top: 70px;
}

.box-height-line-height {
	height: 14px;
	padding: 0px;
	background-color: black;
	margin-top: 80px;
	magin: 0px;
	padding: 0px;
}

.my-grid * {
	box-sizing: border-box;
}

.my-grid .row:after {
	content: "";
	clear: both;
	display: block;
}

.my-grid [class*="col-"] {
	float: left;
	padding: 15px;
}

.my-grid .col-1 {
	width: 8.33%;
}

.my-grid .col-2 {
	width: 16.66%;
}

.my-grid .col-3 {
	width: 25%;
}

.my-grid .col-4 {
	width: 33.33%;
}

.my-grid .col-5 {
	width: 41.66%;
}

.my-grid .col-6 {
	width: 50%;
}

.my-grid .col-7 {
	width: 58.33%;
}

.my-grid .col-8 {
	width: 66.66%;
}

.my-grid .col-9 {
	width: 75%;
}

.my-grid .col-10 {
	width: 83.33%;
}

.my-grid .col-11 {
	width: 91.66%;
}

.my-grid .col-12 {
	width: 100%;
}

.my-grid .header {
	background-color: #9933cc;
	color: #ffffff;
	padding: 15px;
}

.my-grid .menu2 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.my-grid .menu2 li {
	padding: 8px;
	margin-bottom: 7px;
	background-color: #33b5e5;
	color: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.my-grid .menu2 li:hover {
	background-color: #0099cc;
}

.my-grid [class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	/* For tablets: */
	.my-grid .col-m-12 {
		width: 8.33%;
	}
	.my-grid .col-m-2 {
		width: 16.66%;
	}
	.my-grid .col-m-3 {
		width: 25%;
	}
	.my-grid .col-m-4 {
		width: 33.33%;
	}
	.my-grid .col-m-5 {
		width: 41.66%;
	}
	.my-grid .col-m-6 {
		width: 50%;
	}
	.my-grid .col-m-7 {
		width: 58.33%;
	}
	.my-grid .col-m-8 {
		width: 66.66%;
	}
	.my-grid .col-m-9 {
		width: 75%;
	}
	.my-grid .col-m-10 {
		width: 83.33%;
	}
	.my-grid .col-m-11 {
		width: 91.66%;
	}
	.my-grid .col-m-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 960px) {
	/* For desktop: */
	.my-grid .col-1 {
		width: 8.33%;
	}
	.my-grid .col-2 {
		width: 16.66%;
	}
	.my-grid .col-3 {
		width: 25%;
	}
	.my-grid .col-4 {
		width: 33.33%;
	}
	.my-grid .col-5 {
		width: 41.66%;
	}
	.my-grid .col-6 {
		width: 50%;
	}
	.my-grid .col-7 {
		width: 58.33%;
	}
	.my-grid .col-8 {
		width: 66.66%;
	}
	.my-grid .col-9 {
		width: 75%;
	}
	.my-grid .col-10 {
		width: 83.33%;
	}
	.my-grid .col-11 {
		width: 91.66%;
	}
	.my-grid .col-12 {
		width: 100%;
	}
}

.my-grid .aside {
	background-color: #33b5e5;
	padding: 15px;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.my-grid .footer {
	background-color: #0099cc;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	padding: 15px;
}


#css-selector-examples li {
	font-size: 12px;
	margin-top: 4em;
	color: #00930a;
}

#css-selector-examples * {
	color: #993333;
}

#css-selector-examples .css-seletor-class>p {
	color: #009e00;
}

#css-selector-examples #css-seletor-id>p {
	color: #0a1a73;
}

#css-selector-examples p {
	font-size: 12px;
}

#css-selector-examples .first, #css-selector-examples .end {
	color: #333333;
	font-size: 16px;
}

#css-selector-examples #css-seletor-child p {
	color: #05d0b8;
}

#css-selector-examples #css-seletor-next+li>p {
	color: #0a1a73;
}

#css-selector-examples #css-seletor-derect-child>p {
	font-size: 14px;
}
/* 9.所有带有指定属性元素 */
#css-selector-examples [title] p {
	color: #008f1c;
}
/* 10.所有带有指定属性和属性值的元素 */
#css-selector-examples [title="value"] p {
	color: #a66902;
}
/* 11.所有带有指定属性,属性值包括指定单词的元素 */
#css-selector-examples [title~="test"] p {
	color: #4f0038;
}
/* 12.选择一个指定属性的起始值指定值的所有元素 */
#css-selector-examples [title|="my"] p {
	color: #331ebb;
}