.navbar-header img {
	height: 40px;
	margin-top: -10px;
}

.menu {
	position: fixed;
	top: 70px;
	width: 260px;
	height: 85%;
	overflow-y: auto;
	overflow-x: hide;
}

.list-group>div>.list-group-item:before {
	content: ">>";
	color: #003399;
	text-align: center;
	margin-right: 5px;
	padding-left: 5px;
}

.bottom-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.col-md-9 .offset {
	position: relative;
	top: -70px;
	display: block;
	height: 0;
	overflow: hidden;
}

.col-md-9 .sub-item:not(:last-child ) {
	margin-bottom: 15px;
	padding-bottom: 8px;
	border-bottom: 2px dashed #DDDDDD;
}

#my-scrollbar .list-group-item {
	border-left: 0px;
	border-right: 0px;
}

.col-md-3 .panel-heading {
	text-transform: uppercase;
}

.code-header {
	font-style: italic;
	font-size: 14px;
	text-shadow: 1px 1px 1px;
	-webkit-box-shadow: 0px 3px 3px;
	-moz-box-shadow: 0px 3px 3px;
	box-shadow: 0px 3px 3px;
}

//
使用这个类的元素引用来来自 www.runoob.com 的链接
.runoob {
	
}

//
用于展示代码执行结果
.result {
	display: none;
}

h5>.glyphicon {
	font-size: 1.2em;
	padding: 5px;
	color: #660033;
}

.result-sucess {
	display: block;
	background-color: #333333;
	color: white;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.container-fluid>a {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
}

.panel-title {
	font-weight: bold;
}

code {
    border-radius: 3px;
    font-size: 12px;
}

li {
    line-height: 1.6;
    font-size: 14px;
}

.code-list {
	line-height: 1.6;
}

.code-list code:nth-child(1) {
	font-weight: bolder;
	font-style: italic;
	font-size: 12px;
}