.navbar-header img {
	height: 40px;
	margin-top: -10px;
}

.list-group>div>.list-group-item {
	padding-left: 30px;
}

.list-group>div>.list-group-item {
	padding-left: 30px;
}

.bottom-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.col-md-9 .offset {
	position: relative;
	top: -70px;
	display: block;
	height: 0;
	overflow: hidden;
}

.col-md-9 .panel-body>.sub-item:not (:last-child ) {
	margin-bottom: 10px;
	border-bottom: 2px dashed　 #DDDDDD;
}

.col-md-3 .panel-heading {
	background-color: #008cba;
	color: #FFF;
	text-transform: uppercase;
}