.container {
	width: 100%;
}

.top {
	width: 100%;
	height: 50px;
	background-color: green;
	text-align: center;
	font-size: 24px;
	color: white;
	overflow: hidden;
	padding-top: 10px;
}

.content {
	width: 100%;
	font-size: 0;
	padding-top: 20px;
}

.left {
	width: 20%;
	vertical-align: top;
	display: inline-block;
	font-size: 12px;
}

.left ul {
	list-style-type: none;
	margin: 0px 0px 0px 100px;
	padding: 0;
}

.left li {
	cursor: pointer;
	font-weight: bold;
	padding: 8px;
	margin-bottom: 7px;
	background-color: #33b5e5;
	color: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.left .active {
	position: relative;
	background-color: #016f94;
	left: 10px;
	font-size: 1.1em;
}

.left .active:AFTER {
	content: ">";
}

.left li:HOVER {
	background-color: #0099cc;
}

.right {
	display: inline-block;
	font-size: 0;
	width: 80%;
}

.right>div {
	margin-left: 27px;
}

.description {
	top: 0px;
	right: 100px;
	background-color: #333;
	color: white;
	padding: 8px;
	font-size: 10px;
	position: absolute;
	width: 250px;
	min-height: 344px;
}

.position-static {
	position: static;
}

.static {
	font-size: 12px;
	width: 280px;
	height: 60px;
	padding: 10px;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
	font-size: 12px;
}

.absolute {
	position: absolute;
	font-size: 12px;
	width: 280px;
	height: 60px;
	padding: 10px;
}

.abs-01 {
	top: 40px;
	z-index: 1;
}

.abs-02 {
	left: 200px;
	z-index: 1;
}

.abs-03 {
	top: 80px;
	left: 200px;
	z-index: 0;
	text-align: right;
}

.position-relative {
	position: relative;
	width: 100%;
}

.relative {
	width: 100%;
	height: 80px;
	position: relative;
}

.rel {
	position: relative;
	font-size: 12px;
	width: 280px;
	height: 60px;
	padding: 10px;
	left: 20px;
}

.fixed {
	position: fixed;
	font-size: 12px;
	width: 280px;
	height: 60px;
	padding: 10px;
}

.float {
	font-size: 12px;
	width: 280px;
	height: 60px;
	padding: 10px;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}


/** 色彩: 狂野、充沛、动感 ../images/color.png */
.cl-01 {
	background-color: #990066
}

.cl-02 {
	background-color: #FFFF00
}

.cl-03 {
	background-color: #003399
}

.cl-04 {
	background-color: #CC0033
}

.cl-05 {
	background-color: #000000
}

.cl-06 {
	background-color: #003399
}

.cl-07 {
	background-color: #003399
}

.cl-08 {
	background-color: #FFFF00
}

.cl-09 {
	background-color: #F00000
}

.cl-10 {
	background-color: #CC3333
}

.cl-11 {
	background-color: #CCCCCC
}

.cl-12 {
	background-color: #003366
}

.cl-13 {
	background-color: #CC0033
}

.cl-14 {
	background-color: #333333
}

.cl-15 {
	background-color: #CCCC00
}

.cl-16 {
	background-color: #000000
}

.cl-17 {
	background-color: #99CC00
}

.cl-18 {
	background-color: #CC0033
}

.cl-19 {
	background-color: #FF0033
}

.cl-20 {
	background-color: #333333
}

.cl-21 {
	background-color: #FF9900
}

.cl-22 {
	background-color: #990066
}

.cl-23 {
	background-color: #000000
}

.cl-24 {
	background-color: #009966
}

.cl-25 {
	background-color: #666666
}

.cl-26 {
	background-color: #FF6600
}

.cl-27 {
	background-color: #333333
}

.cl-28 {
	background-color: #993333
}

.cl-29 {
	background-color: #CCCC00
}

.cl-30 {
	background-color: #663366
}